<div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
        Help improve the content and publishing guidance. <a href="https://surveys.publishing.service.gov.uk/s/give-feedback-content-publishing-guidance?current_page={{ page.url }}" class="govuk-link" rel="noreferrer noopener" target="_blank">Give your feedback (opens in new tab)</a>.
        </span>
      </p>
    </div>