<div class="share-links govuk-!-display-none-print" dir="ltr" title="Share this page">
<h2 class="govuk-heading-s">Share this page</h2>
    <p class="govuk-body-s">
      The following links open in a new tab
    </p>
    <ul class="share-links__list">
        <li class="share-links__list-item">
          <a target="_blank" rel="noopener noreferrer external" class="govuk-link govuk-link--no-underline share-links__link" href="mailto:?body=https://guidance.publishing.service.gov.uk{{ page.url }}">
            <span class="share-links__link-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.84 73.84" aria-hidden="true" focusable="false" width="0" height="0" class="share-links__svg">
                  <path fill="currentColor" d="M36.92,0A36.92,36.92,0,1,0,73.84,36.92,36.92,36.92,0,0,0,36.92,0ZM58.37,21,36.92,39.45,15.47,21ZM11.65,23.66,26.27,36.23,11.65,49.9ZM15.1,52.83,29.7,39.18l7.22,6.21,7.22-6.21,14.6,13.65ZM62.19,49.9,47.57,36.23,62.19,23.66Z"></path>
                </svg>            </span><span class="share-links__label">          <span class="govuk-visually-hidden">
              Share by
          </span>
          Email
          <span class="govuk-visually-hidden">
            (opens in new tab)
          </span>
</span></a>
        </li>
        <li class="share-links__list-item">
          <a target="_blank" rel="noopener noreferrer external" class="govuk-link govuk-link--no-underline share-links__link" href="https://teams.microsoft.com/share?href=https://guidance.publishing.service.gov.uk{{ page.url }}">
            <span class="share-links__link-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.84 73.84" aria-hidden="true" focusable="false" width="0" height="0" class="share-links__svg">
                  <path fill="currentColor" d="M36.92,0A36.92,36.92,0,1,0,73.84,36.92,36.92,36.92,0,0,0,36.92,0ZM56.3,48.27a1.42,1.42,0,0,1-1.42,1.42h-19v9.18l-9.18-9.18H19a1.43,1.43,0,0,1-1.43-1.43V20.52A1.43,1.43,0,0,1,19,19.09H54.88a1.43,1.43,0,0,1,1.42,1.42Z"></path>
                </svg>            </span><span class="share-links__label">          <span class="govuk-visually-hidden">
              Share on
          </span>
          Microsoft Teams
          <span class="govuk-visually-hidden">
            (opens in new tab)
          </span>
</span></a>
        </li>
    </ul>
</div>