{% extends "layouts/main.njk" %}

{% block containerStart %}
{% include "layouts/shared/phase-banner.njk" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include "layouts/shared/sub-navigation.njk" %}
    {% include "layouts/shared/document-header.njk" %}

      {{ appProseScope(content) if content }}
      {% include "layouts/shared/last-updated.njk" %}
      {% include "layouts/shared/sharing-links.njk" %}
      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}
