{% extends "layouts/main.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block containerStart %}
{% include "layouts/shared/phase-banner.njk" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include "layouts/shared/sub-navigation.njk" %}
    {% include "layouts/shared/document-header.njk" %}


<nav role="navigation" aria-label="A to Z navigation">
<ol class="style-a-z govuk-body" role="list">
    <li><a class="govuk-link govuk-link--no-visited-state" href="#a">A</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#b">B</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#c">C</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#d">D</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#e">E</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#f">F</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#g">G</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#h">H</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#i">I</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#j">J</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#k">K</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#l">L</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#m">M</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#n">N</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#o">O</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#p">P</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#q">Q</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#r">R</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#s">S</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#t">T</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#u">U</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#v">V</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#w">W</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#x">X</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#y">Y</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#z">Z</a></li>
</ol>
</nav>

<div class="style-guide">
    {{ appProseScope(content) if content }}
</div>

      {% include "layouts/shared/sharing-links.njk" %}
      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}
